<div class="container">
    <div class="alert alert-success text-center" id="dashboard" role="alert">
    <h1>Presupuestos </h1>
  </div>

  <div class="panel">
    <div class="body">
      <form class="form-inline my-2 my-lg-0">
        <input id="searchBox" class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </div>
  </div>
  <table class="myTable table hover">
    <tbody>
      <tr>
        <th>Zona</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Id Interesado</th>
        <th>Estado</th>
      </tr>
      <tr>
        <td>1</td>
        <td>1</td>
        <td>delectus aut autem</td>
        <td>yes</td>
      </tr>
    </tbody>
  </table>
</div>
