<div>
    <div class="container-fluid">
        <div>
            <div class="col-xs-12">
                <!-- TABLA INICIA -->
                <table id="tabla" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:160px">Nombre</th>
                            <th>Apellido</th>
                            <th style="width:220px">Profesion</th>
                            <th style="width:140px">Sueldo</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input id="buscar" type="text" class="form-control"
                                    placeholder="Escriba algo para filtrar" />
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan</td>
                            <td>Perez Patiño</td>
                            <td>Marketing Empresarial</td>
                            <td class="text-right">S/. 9000.00</td>
                        </tr>

                    </tbody>
                </table>
                <!-- TABLA FINALIZA -->
            </div>
        </div>
    </div>
     <script src="/js/main.js"></script>
</div>