<div class="container">
    <div class="row">
        <div class="col-md-3 m-3">
            <a href="/budgets">
                <img src="/img/budget.png" class="img-fluid" alt="Responsive image">
                <button type="button" class="btn btn-primary btn-lg btn-block">Presupuestos</button>
            </a>
        </div>
        <div class="col-md-3 m-3">
            <a href="/viewmounts">
                <img src="/img/mounts.jpg" class="img-fluid" alt="Responsive image">
                <button type="button" class="btn btn-primary btn-lg btn-block">Montajes</button>
            </a>
        </div>
        <div class="col-md-3 m-3">
            <a href="/materials">
                <img src="/img/material.png" class="img-fluid" alt="Responsive image">
                <button type="button" class="btn btn-primary btn-lg btn-block">Materiales</button>
            </a>
        </div>
    </div>
</div>