<div class="container py-5">
    <header class="text-center text-black">
        <h1 class="display-4">Coope Guanacaste SPE</h1>
    </header>
    <h2 class="font-weight-bold mb-2">Opciones Administrativas</h2>
    <p class="font-italic text-muted mb-4">Navega entre las diferentes opciones y administra tus presupuestos.</p>

    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <a href="/budgets">
                    <div class="card-body p-0"><img src="img/montaje2.png" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Presupuestos</h5>
                            <p class="small text-muted">Vista general de presupuestos</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <a href="/mounts">
                    <div class="card-body p-0"><img src="img/montaje3.png" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Montajes</h5>
                            <p class="small text-muted">Vista General de Montajes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <a href="/materials">
                    <div class="card-body p-0"><img src="img/material.png" alt="" class="w-100 card-img-top">
                        <div class="p-4">
                            <h5 class="mb-0">Materiales</h5>
                            <p class="small text-muted">Vista de creacion de Materiales</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>